@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap');
body {
    background-color: #2d2e2e;
}

#formWrapper {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-top: 130px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

input[type=text] {
    font-size: 18px;
    border: none;
    background-color: #2d2e2e;
    padding: 10px 350px 10px 10px;
    border-bottom: 1px solid white;
    color: white;
}

input[type=date] {
    font-size: 18px;
    border: none;
    background-color: #2d2e2e;
    padding: 10px 385px 10px 10px;
    border-bottom: 1px solid white;
    color: white;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: 50px;
}

input[type=number] {
    font-size: 18px;
    border: none;
    background-color: #2d2e2e;
    padding: 10px 350px 10px 10px;
    border-bottom: 1px solid white;
    color: white;
}

#paymentTitle {
    color: white;
    padding: 0 369px 10px 10px;
    font-weight: 400;
}

.inlines {
    display: flex;
    position: relative;
    column-gap: 17px;
    bottom: 33px;
    right: 235px;
    align-items: center;
    color: #9e9d9d;
    font-size: 16px;
}

#giftTitle {
    position: relative;
    color: white;
    bottom: 50px;
    padding: 0 411px 10px 10px;
    font-weight: 400;
}

#checkbox {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 122px;
    row-gap: 10px;
    bottom: 48px;
    font-size: 16px;
}

.inlineCheks {
    display: flex;
    position: relative;
    column-gap: 16px;
    bottom: 33px;
    align-items: center;
    color: white;
}

#checkbox label {
    color: #9e9d9d;
}

#submit {
    padding: 10px 240px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
    background-color: #2d2e2e;
    color: white;
    position: relative;
    bottom: 66px;
}

input[type="submit"]:hover:disabled {
    background-color: white;
    color: #2d2e2e;
    cursor: pointer;
}

input[type="submit"]:hover:enabled {
    background-color: white;
    color: #2d2e2e;
    cursor: pointer;
}

.warning {
    display: none;
    color: Red;
    font-size: 12px;
    margin: 0;
}