@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap');
body {
    background-color: #2d2e2e;
}

.main {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 1326px;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    top: 140px;
    row-gap: 64px;
}

.wrapper div {
    position: relative;
    left: 60px;
}

img {
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

ul {
    padding: 0;
    width: 330px;
}

li {
    list-style-type: none;
    width: 250px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    height: 70px;
    color: #f0f0f0;
    margin: 0;
}

li h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    height: 36px;
    color: #8a8787;
    margin: 10px 0;
}

.price {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #f0f0f0;
    margin: 0;
}

.descripLink {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #8a8787;
    position: relative;
    right: 16px;
    top: 10px;
    padding: 10px 10px 10px 0;
}

.descripLink:hover {
    cursor: pointer;
    color: #f0f0f0;
}

.arrow {
    width: 15px;
    border: none;
    position: relative;
    left: 109px;
    top: 3px;
}

.arrow:hover {
    transform: scaleY(-1);
    cursor: pointer;
}

li p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #8a8787;
    padding: 10px 10px 10px 0;
}

.add {
    padding: 5px 74px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
    display: block;
    margin-top: 30px;
}

.add:hover {
    background-color: #f0f0f0;
    color: #2d2e2e;
    cursor: pointer;
}

.bagContainer {
    display: block;
    background-color: #e4e4e5;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
}

.bagItem {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.bagItem h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.bagItem h6 {
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bagContainer h4 {
    font-weight: 500;
    font-size: 20px;
    color: #666263;
    font-weight: 500;
    font-size: 20px;
    color: #666263;
    display: inline;
    position: relative;
    right: 25px;
}

.bagContainer h3 {
    display: inline;
}

.removeButton {
    display: inline;
    position: relative;
    left: 336px;
}

.closeButton {
    font-weight: 500;
    font-size: 14px;
    display: inline;
    position: relative;
    left: 374px;
}

.removeButton:hover {
    background-color: #2d2e2e;
    color: #e4e4e5;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #2d2e2e;
    color: #e4e4e5;
    cursor: pointer;
}

.total {
    border-top: 1px solid black;
    padding: 10px 0;
    border-bottom: 1px solid
}

.confirm {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid black;
    padding: 10px 146px;
}

.confirm:hover {
    background-color: #2d2e2e;
    color: #e4e4e5;
    cursor: pointer;
}